@model MaxStory.Models.DetailViewModel
@{
      //int i = 0;
      //int j = 26;
}
@section css
{
    <link href="~/content/detail.css" rel="stylesheet" />
    <link href="~/static.trumtruyen.vip/min/g/maincss-truyen-030423-2.css" rel="stylesheet" />
}

<div class="container csstransforms3d" id="truyen">
    <div class="col-xs-12 col-sm-12 col-md-9 col-truyen-main">
        <div class="col-xs-12 col-info-desc"
             itemscope
             itemtype="https://schema.org/Book">
            <div class="title-list book-intro"><h2>Thông tin truyện</h2></div>
            <h3 class="title" itemprop="name">
                @Model.StoryDetail?.name
            </h3>
            <div class="col-xs-12 col-sm-4 col-md-4 info-holder">
                <div class="books">
                    <div class="book">
                        <img src="@Model.StoryDetail?.thumnail"
                             alt="@Model.StoryDetail?.name"
                             itemprop="image"
                             width="100"
                             height="150"
                             srcset="
                      @Model.StoryDetail?.thumnail 100w,
                      @Model.StoryDetail?.thumnail 216w,
                      @Model.StoryDetail?.thumnail 400w
                    "
                             sizes="(min-width: 1200px) 216px, (min-width: 992px) 128px, (min-width: 768px) 158px, 100px" />
                        <div class="book-shadow"></div>
                    </div>
                </div>
                <div class="info">
                    <div>
                        <h3>
                            <b>Tác giả:</b>
                            <a itemprop="author"
                               rel="tag"
                               href="../tac-gia/fi/index.html"
                               title="Fi">@Model.StoryDetail?.author</a>
                        </h3>
                    </div>
                    <div>
                        <h3>
                            <b>Thể loại:</b>
                            <a itemprop="genre"
                               rel="tag"
                               href="../the-loai/tien-hiep/index.html"
                               title="Tiên Hiệp">Tiên Hiệp</a>,
                            <a itemprop="genre"
                               rel="tag"
                               href="../the-loai/do-thi/index.html"
                               title="Đô Thị">Đô Thị</a>,
                            <a itemprop="genre"
                               rel="tag"
                               href="../the-loai/di-gioi/index.html"
                               title="Dị Giới">Dị Giới</a>,
                            <a itemprop="genre"
                               rel="tag"
                               href="../the-loai/huyen-huyen/index.html"
                               title="Huyền Huyễn">Huyền Huyễn</a>,
                            <a itemprop="genre"
                               rel="tag"
                               href="../the-loai/di-nang/index.html"
                               title="Dị Năng">Dị Năng</a>,
                            <a itemprop="genre"
                               rel="tag"
                               href="../the-loai/truyen-teen/index.html"
                               title="Truyện Teen">Truyện Teen</a>
                        </h3>
                    </div>
                    <div>
                        <b>Trạng thái:</b> <span class="text-success">Full</span>
                    </div>
                </div>
                <div class="rate">
                    <div class="rate-holder" data-score="6.1"></div>
                    <em class="rate-text"></em>
                    <div class="small"
                         itemprop="aggregateRating"
                         itemscope
                         itemtype="https://schema.org/AggregateRating">
                        <em>
                            Đánh giá:
                            <strong><span itemprop="ratingValue">6.1</span></strong>/<span class="text-muted" itemprop="bestRating">10</span>
                            từ
                            <strong><span itemprop="ratingCount">65</span> lượt</strong>
                        </em>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 desc">
                <div class="desc-text desc-text-full" itemprop="description">
                        @Html.Raw(@Model.StoryDetail?.description)
                </div>
                <div class="showmore">
                    <button type="button"
                            class="btn btn-default btn-xs hide"
                            title="Xem thêm">
                        Xem thêm »
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xs-12" id="list-chapter">
            <div class="title-list"><h2>Danh sách chương</h2></div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <ul class="list-chapter">
                            @{
                            int i = Model.Data.FirstRowOnPage;
                            foreach (var chapter in Model.Data.Results.Take(25))
                            {

                                var url = Model.StoryAlias + "-c." + i + ".html";
                                <li>
                                    <span class="glyphicon glyphicon-certificate"></span>
                                    <a href="@url"
                                   title="@chapter.name">
                                        <span class="chapter-text"></span>@Html.Raw(chapter.name)
                                    </a>
                                </li>
                                i++;
                            }
                      }
                          
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <ul class="list-chapter">
                        @{
                            int j = Model.Data.FirstRowOnPage + 25;
                            foreach (var chapter in Model.Data.Results.Skip(25).Take(25))
                            {
                                var url = "/" + chapter.name + "-p." + 3 + ".html";
                                <li>
                                    <span class="glyphicon glyphicon-certificate"></span>
                                    <a href="chuong-1/index.html"
                                   title="@chapter.name">
                                        <span class="chapter-text"></span>@Html.Raw(chapter.name)
                                    </a>
                                </li>
                                j++;
                            }
                        }
                    </ul>
                </div>
            </div>
            <input id="truyen-id" type="hidden" value="31644" /><input id="total-page"
                                                                       type="hidden"
                                                                       value="72" /><input id="truyen-ascii"
                                                                                           type="hidden"
                                                                                           value="chien-than-thanh-y-huyen-thoai-thanh-y" /><input id="truyen-comment"
                                                                                                                                                   type="hidden"
                                                                                                                                                   value="chien-than-thanh-y-huyen-thoai-thanh-y" /><input id="chapter-sac" type="hidden" value="0" />
            <ul class="pagination">
                    @(await Component.InvokeAsync("Pager", Model.Data))
            </ul>
        </div>
        <div class="col-xs-12 comment-box">
            <div class="title-list"><h3>Bình luận truyện</h3></div>
            <div class="col-xs-12">
                <div class="row" id="fb-comment-story">
                    <div class="loading-comment">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="visible-md-block visible-lg-block col-md-3 text-center col-truyen-side">
        @if(Model.listStoriesSameAuthor.Count() > 0)
        {
            <div class="list list-truyen list-same-author col-xs-12">
                <div class="title-list"><h2>Truyện cùng tác giả</h2></div>
                   @foreach (var story in Model.listStoriesSameAuthor)
            {
                var url = "/" + story.urlDetail + "-p." + 3 + ".html";
               <div class="row">
                    <div class="col-xs-12">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <h3>
                            <a href="https://trumtruyen.vn/khoet-vach-treo-tuong-leo-giuong-deo-em-060923/"
                           title='Khoét Vách Trèo Tường, Leo Giường "Đẽo" Em'>@story.name</a>
                        </h3>
                    </div>
                </div>
            }
            </div>
        }
        
        <div class="list list-truyen list-similar col-xs-12">
            <div class="title-list"><h2>Có thể bạn thích</h2></div>
            @foreach (var story in Model.listStoriesSimilar)
            {
                var url = "/" + story.urlDetail + "-p." + 3 + ".html";
                <div class="row">
                    <div class="col-xs-12">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <h3>
                            <a href="../trung-sinh-chi-cuc-pham-hoang-tu-phi/index.html"
                           title="Trùng Sinh Chi Cực Phẩm Hoàng Tử Phi">@story.name</a>
                        </h3>
                    </div>
                </div>
            }
        </div>
        <div class="list list-truyen list-side col-xs-12">
            <div class="title-list"><h2>Truyện đang hot</h2></div>
            <div class="row top-nav" data-limit="10">
                <div class="col-xs-4 active" data-type="day">Ngày</div>
                <div class="col-xs-4" data-type="month">Tháng</div>
                <div class="col-xs-4" data-type="all">All time</div>
            </div>
            <div class="row top-item">
                <div class="col-xs-12">
                    <div class="top-num top-1">1</div>
                    <div class="s-title">
                        <h3>
                            <a href="https://trumtruyen.vn/em-that-tot/" title="Em Thật Tốt">Em Thật Tốt</a>
                        </h3>
                    </div>
                    <div>
                        <a itemprop="genre"
                           rel="tag"
                           href="https://trumtruyen.vn/the-loai/ngon-tinh/"
                           title="Ngôn Tình">Ngôn Tình</a>,
                        <a itemprop="genre"
                           rel="tag"
                           href="https://trumtruyen.vn/the-loai/do-thi/"
                           title="Đô Thị">Đô Thị</a>,
                        <a itemprop="genre"
                           rel="tag"
                           href="https://trumtruyen.vn/the-loai/sac/"
                           title="Sắc">Sắc</a>
                    </div>
                </div>
            </div>
            <div class="row top-item">
                <div class="col-xs-12">
                    <div class="top-num top-2">2</div>
                    <div class="s-title">
                        <h3>
                            <a href="https://trumtruyen.vn/yeu-tham-vo-cu-130923/"
                               title="Yêu Thầm Vợ Cũ">Yêu Thầm Vợ Cũ</a>
                        </h3>
                    </div>
                    <div>
                        <a itemprop="genre"
                           rel="tag"
                           href="https://trumtruyen.vn/the-loai/ngon-tinh/"
                           title="Ngôn Tình">Ngôn Tình</a>,
                        <a itemprop="genre"
                           rel="tag"
                           href="https://trumtruyen.vn/the-loai/sac/"
                           title="Sắc">Sắc</a>,
                        <a itemprop="genre"
                           rel="tag"
                           href="https://trumtruyen.vn/the-loai/nguoc/"
                           title="Ngược">Ngược</a>
                    </div>
                </div>
            </div>
            <div class="row top-item">
                <div class="col-xs-12">
                    <div class="top-num top-3">3</div>
                    <div class="s-title">
                        <h3>
                            <a href="https://trumtruyen.vn/chien-than-thanh-y-huyen-thoai-thanh-y/"
                               title="Chiến Thần Thánh Y/Huyền Thoại Thánh Y">Chiến Thần Thánh Y/Huyền Thoại Thánh Y</a>
                        </h3>
                    </div>
                    <div>
                        <a itemprop="genre"
                           rel="tag"
                           href="https://trumtruyen.vn/the-loai/tien-hiep/"
                           title="Tiên Hiệp">Tiên Hiệp</a>,
                        <a itemprop="genre"
                           rel="tag"
                           href="https://trumtruyen.vn/the-loai/do-thi/"
                           title="Đô Thị">Đô Thị</a>,
                        <a itemprop="genre"
                           rel="tag"
                           href="https://trumtruyen.vn/the-loai/huyen-huyen/"
                           title="Huyền Huyễn">Huyền Huyễn</a>
                    </div>
                </div>
            </div>
            <div class="row top-item">
                <div class="col-xs-12">
                    <div class="top-num top-4">4</div>
                    <div class="s-title">
                        <h3>
                            <a href="https://trumtruyen.vn/ngai-hoac-em-yeu-anh/"
                               title="Ngài Hoắc Em Yêu Anh">Ngài Hoắc Em Yêu Anh</a>
                        </h3>
                    </div>
                    <div>
                        <a itemprop="genre"
                           rel="tag"
                           href="https://trumtruyen.vn/the-loai/ngon-tinh/"
                           title="Ngôn Tình">Ngôn Tình</a>,
                        <a itemprop="genre"
                           rel="tag"
                           href="https://trumtruyen.vn/the-loai/do-thi/"
                           title="Đô Thị">Đô Thị</a>,
                        <a itemprop="genre"
                           rel="tag"
                           href="https://trumtruyen.vn/the-loai/xuyen-khong/"
                           title="Xuyên Không">Xuyên Không</a>
                    </div>
                </div>
            </div>
            <div class="row top-item">
                <div class="col-xs-12">
                    <div class="top-num top-5">5</div>
                    <div class="s-title">
                        <h3>
                            <a href="https://trumtruyen.vn/bac-si-kieu-xin-dung-manh-dong-130923/"
                               title="Bác Sĩ Kiều Xin Đừng Manh Động">Bác Sĩ Kiều Xin Đừng Manh Động</a>
                        </h3>
                    </div>
                    <div>
                        <a itemprop="genre"
                           rel="tag"
                           href="https://trumtruyen.vn/the-loai/ngon-tinh/"
                           title="Ngôn Tình">Ngôn Tình</a>
                    </div>
                </div>
            </div>
            <div class="row top-item">
                <div class="col-xs-12">
                    <div class="top-num top-6">6</div>
                    <div class="s-title">
                        <h3>
                            <a href="https://trumtruyen.vn/than-y-o-re/" title="Thần Y Ở Rể">Thần Y Ở Rể</a>
                        </h3>
                    </div>
                    <div>
                        <a itemprop="genre"
                           rel="tag"
                           href="https://trumtruyen.vn/the-loai/ngon-tinh/"
                           title="Ngôn Tình">Ngôn Tình</a>,
                        <a itemprop="genre"
                           rel="tag"
                           href="https://trumtruyen.vn/the-loai/do-thi/"
                           title="Đô Thị">Đô Thị</a>,
                        <a itemprop="genre"
                           rel="tag"
                           href="https://trumtruyen.vn/the-loai/huyen-huyen/"
                           title="Huyền Huyễn">Huyền Huyễn</a>
                    </div>
                </div>
            </div>
            <div class="row top-item">
                <div class="col-xs-12">
                    <div class="top-num top-7">7</div>
                    <div class="s-title">
                        <h3>
                            <a href="https://trumtruyen.vn/cung-chieu-vo-nho-troi-ban-270221/"
                               title="Cưng Chiều Vợ Nhỏ Trời Ban">Cưng Chiều Vợ Nhỏ Trời Ban</a>
                        </h3>
                    </div>
                    <div>
                        <a itemprop="genre"
                           rel="tag"
                           href="https://trumtruyen.vn/the-loai/ngon-tinh/"
                           title="Ngôn Tình">Ngôn Tình</a>,
                        <a itemprop="genre"
                           rel="tag"
                           href="https://trumtruyen.vn/the-loai/sac/"
                           title="Sắc">Sắc</a>
                    </div>
                </div>
            </div>
            <div class="row top-item">
                <div class="col-xs-12">
                    <div class="top-num top-8">8</div>
                    <div class="s-title">
                        <h3>
                            <a href="https://trumtruyen.vn/vo-yeu-cuc-pham-sung-em-ca-doi/"
                               title="Vợ Yêu Cực Phẩm, Sủng Em Cả Đời">Vợ Yêu Cực Phẩm, Sủng Em Cả Đời</a>
                        </h3>
                    </div>
                    <div>
                        <a itemprop="genre"
                           rel="tag"
                           href="https://trumtruyen.vn/the-loai/ngon-tinh/"
                           title="Ngôn Tình">Ngôn Tình</a>,
                        <a itemprop="genre"
                           rel="tag"
                           href="https://trumtruyen.vn/the-loai/do-thi/"
                           title="Đô Thị">Đô Thị</a>,
                        <a itemprop="genre"
                           rel="tag"
                           href="https://trumtruyen.vn/the-loai/sung/"
                           title="Sủng">Sủng</a>
                    </div>
                </div>
            </div>
            <div class="row top-item">
                <div class="col-xs-12">
                    <div class="top-num top-9">9</div>
                    <div class="s-title">
                        <h3>
                            <a href="https://trumtruyen.vn/hoan-hoan-ai-cach-yeu-cua-chu-tich-phong-090923/"
                               title="Hoan Hoan Ái - Cách Yêu Của Chủ Tịch Phong">Hoan Hoan Ái - Cách Yêu Của Chủ Tịch Phong</a>
                        </h3>
                    </div>
                    <div>
                        <a itemprop="genre"
                           rel="tag"
                           href="https://trumtruyen.vn/the-loai/ngon-tinh/"
                           title="Ngôn Tình">Ngôn Tình</a>,
                        <a itemprop="genre"
                           rel="tag"
                           href="https://trumtruyen.vn/the-loai/tong-tai/"
                           title="Tổng Tài">Tổng Tài</a>
                    </div>
                </div>
            </div>
            <div class="row top-item">
                <div class="col-xs-12">
                    <div class="top-num top-10">10</div>
                    <div class="s-title">
                        <h3>
                            <a href="https://trumtruyen.vn/van-co-chi-ton/"
                               title="Vạn Cổ Chí Tôn">Vạn Cổ Chí Tôn</a>
                        </h3>
                    </div>
                    <div>
                        <a itemprop="genre"
                           rel="tag"
                           href="https://trumtruyen.vn/the-loai/huyen-huyen/"
                           title="Huyền Huyễn">Huyền Huyễn</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
