
@model MaxStory.Models.HomeViewModel

@section css
    {
    <link href="~/content/story.css" rel="stylesheet" />
    <link href="~/static.trumtruyen.vip/min/g/maincss-index-030423-2.css" rel="stylesheet" />
  @*  <link href="~/static.trumtruyen.vip/min/g/maincss-chapter-030423-2.css" rel="stylesheet" />*@
}

<div class="container" id="intro-index">
    <div class="title-list">
        <h2>
            <a href="danh-sach/truyen-hot/index.html" title="Truyện hot">Truyện hot</a>
        </h2>
        <a href="danh-sach/truyen-hot/index.html" title="Truyện hot">
            <span class="glyphicon glyphicon-fire"></span>
        </a>
        <div class="cat-select-placeholder form-control new-select">
            Tất cả <span class="glyphicon glyphicon-chevron-down"></span>
        </div>
        <select id="hot-select"
                class="form-control new-select"
                aria-label="Chọn thể loại"
                data-from="20"
                style="display: none">
            <option value="all">Tất cả</option>
        </select>
    </div>
    <div class="index-intro">
             @foreach (var story in Model.HotStories)
             {
            var url = "/" + story.urlDetail.Replace("https://trumtruyen.vn/","").Trim('/') + "-s." + 3 + ".html";
            <div class="item top-1" itemscope itemtype="https://schema.org/Book">
                <a href="@url"
               itemprop="url">
                    <span class="full-label"></span><img src="@story.thumnail"
                                                     alt="Chiến Thần Thánh Y/Huyền Thoại Thánh Y"
                                                     class="img-responsive item-img"
                                                     itemprop="image"
                                                     width="76"
                                                     height="113" />
                    <div class="title">
                        <h3 itemprop="name">@story.name</h3>
                    </div>
                </a>
            </div>
             }
    </div>
    <div class="more-hot" style="">Xem thêm...</div>
</div>
<div class="container" id="list-index">
    <div class="row text-center"></div>
    <div class="hide" id="history-holder"></div>
    <div class="list list-truyen list-new col-xs-12 col-sm-12 col-md-8 col-truyen-main">
        <div class="title-list">
            <h2>
                <a href="danh-sach/truyen-moi/index.html" title="Truyện mới">Truyện mới cập nhật</a>
            </h2>
            <a href="danh-sach/truyen-moi/index.html" title="Truyện mới">
                <span class="glyphicon glyphicon-menu-right"></span>
            </a>
            <div class="cat-select-placeholder form-control new-select">
                Tất cả <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <select id="new-select"
                    class="form-control new-select"
                    aria-label="Chọn thể loại"
                    style="display: none">
                <option value="all">Tất cả</option>
            </select>
        </div>
        @foreach (var story in Model.NewStoriesUpdate)
        {
            var url = "/" + story.urlDetail.Replace("https://trumtruyen.vn/", "").Trim('/') + "-s." + 3 + ".html";
            <div class="row" itemscope itemtype="https://schema.org/Book">
                <div class="col-xs-9 col-sm-6 col-md-5 col-title">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <h3 itemprop="name">
                        <a href="@url"
                       title="@story.name"
                       itemprop="url">@story.name</a>
                    </h3>
                    <span class="label-title label-hot"></span>
                </div>
                <div class="hidden-xs col-sm-3 col-md-3 col-cat">
                    <a itemprop="genre"
                   rel="tag"
                   href="the-loai/ngon-tinh/index.html"
                   title="Ngôn Tình">@story.category.name</a>
                 @*   <a itemprop="genre"
                   rel="tag"
                   href="the-loai/sac/index.html"
                   title="Sắc">Sắc</a>*@
                </div>
                <div class="col-xs-3 col-sm-3 col-md-2 col-chap text-info">
                    <a href="trao-hoi-am-cho-em-nhe-nhang-chiem-lay/chuong-62/index.html"
                   title="Trao Hơi Ấm Cho Em: Nhẹ Nhàng Chiếm Lấy - Chương 62"><span class="chapter-text"><span>Chương </span></span>@story.chapter.name</a>
                </div>
                <div class="hidden-xs hidden-sm col-md-2 col-time">@story.lastTimeUpdated</div>
            </div>
         }
       
    </div>
    <div class="visible-md-block visible-lg-block col-md-4 text-center col-truyen-side">
        <div class="hide" id="history-holder-side"></div>
        <div class="list list-truyen list-cat col-xs-12"
             id="cat-list-side"></div>
    </div>
</div>
<div class="container" id="truyen-slide">
    <div class="list list-thumbnail col-xs-12">
        <div class="title-list">
            <h2>
                <a href="danh-sach/truyen-full/index.html" title="Truyện full">Truyện đã hoàn thành</a>
            </h2>
            <a href="danh-sach/truyen-full/index.html" title="Truyện full">
                <span class="glyphicon glyphicon-menu-right"></span>
            </a>
        </div>
        <div class="row">
            @foreach (var story in Model.FinishedStories)
            {
                var url = "/" + story.urlDetail.Replace("https://trumtruyen.vn/", "").Trim('/') + "-s." + 3 + ".html";
                <div class="col-xs-3 col-sm-2 col-md-2">
                    <a href="@url"
                   title="@story.name">
                        <div class="lazyimg"
                         data-desk-image="@story.thumnail"  
                         data-image="@story.thumnail"
                         data-alt="@story.name"></div>
                        <div class="caption">
                            <h3>@story.name</h3>
                            <small class="btn-xs label-primary">Full - 68 chương</small>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>